body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Poppins, sans-serif;
}

.box{
  padding:30px;
  border-radius:10px;
  text-align:center;
  color: #ca6e05;
  box-shadow: 0 0 20px 10px #0202025b;
}

input{
  padding:10px;
  font-size:16px;
  margin:10px 0;
  width:200px;
}

button{
  padding:10px 20px;
  font-size:16px;
  cursor:pointer;
}

#result{
  margin-top:15px;
  font-size:18px;
}
