* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    top: 0.0px;
    position: sticky;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    background:#fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 10px #00000025;
}

.navbar a:hover {
    color: #dd039c;
}

.navbar a {
    color: #000;
    font-size: 17px;
    margin-left: 20px;
    border-radius: 2vh;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    position: absolute;
}

ul{
    list-style: none;
    padding: 10px;
    width: 60%;
    background: #fff;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 50;    
    margin-left: 200px;
    letter-spacing: 1px;
    border-top: 2px solid #dd039c;
    box-shadow: 0 0 20px 10px #0000002d; 
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li{
    margin-top: 10px;
    color: #464545;
}

ul li:hover{
    text-decoration: underline;
}
.menu_bar1{
    display: none;
}
#mar{
    margin-left: 150px;
}
#mar1{
    margin-left: 150px;
}

#mar2{
    margin-left: 250px;
}
#mar3{
    margin-left: 350px;
}
